.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .link {
    margin-right: 50px;
    display: flex;
    align-items: center;
     text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 32px;
  }
  
  .link a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 30px;
  }
  .badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -10px; 
  }